@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    @apply bg-blue-50 text-neutral-700 scroll-smooth
}

.scrollbarCustom:-webkit-scrollbar{
    width: 10px;
    @apply bg-slate-100
}

.scrollbar-none::-webkit-scrollbar{
    display: none;
}

.scrollbarCustom:-webkit-scrollbar-thumb{
    @apply bg-blue-100 rounded-full
}

